<h3>{{titre}}</h3>

<div class="container">
    @if(formVisible) {
    <app-add-assignment (nouvelAssignment)="onAddAssignment($event);"></app-add-assignment>
    } @else {
    <button mat-flat-button color="accent" 
            (click)="onAddAssignmentBtnClick()"
            class="ajouterBtn"
    > Ajouter Assignment
    </button>
    <mat-list>
        @for(a of assignments; track a.nom) {
        <h3 mat-matSubheader>{{a.dateDeRendu | date:'d/M/yy'}}</h3>
        <mat-list-item (click)="assignmentClique(a)">
            @if(a.rendu) {
            <p [ngStyle]="{'color':getColor(a)}" matListItemLine>Devoir {{a.nom}} a été rendu</p>
            } @else {
            <p [ngStyle]="{'color':getColor(a)}" matListItemLine>Devoir *** {{a.nom}} *** n'a pas été rendu</p>
            }
        </mat-list-item>
        <mat-divider></mat-divider>
        }
    </mat-list>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de rendu</th>
                <th>Rendu</th>
            </tr>
        </thead>
        @for(a of assignments; track a.nom) {
        <tr [ngStyle]="{'color':getColor(a), 'background-color':a.rendu?'lightGreen':'yellow'}"
            (click)="assignmentClique(a)">
            @if(a.rendu) {
            <td>{{a.nom}}</td>
            <td>{{a.dateDeRendu}}</td>
            <td>{{a.rendu}}</td>
            } @else {
            <td>*** {{a.nom}} ***</td>
            <td>{{a.dateDeRendu}}</td>
            <td>NON RENDU !!!!!!</td>
            }
        </tr>
        }
    </table>

    <app-assignment-detail [assignmentTransmis]="assignmentSelectionne"></app-assignment-detail>
    }

</div>
<!--
<h3>Avec ngCLass au lieu de ngStyle</h3>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Date de rendu</th>
            <th>Rendu</th>
        </tr>
    </thead>
    @for(a of assignments; track a.nom) {
    <tr [ngClass]="{'rendu':a.rendu, 'nonRendu':!a.rendu}">
        @if(a.rendu) {
        <td>{{a.nom}}</td>
        <td>{{a.dateDeRendu}}</td>
        <td>{{a.rendu}}</td>
        } @else {
        <td>*** {{a.nom}} ***</td>
        <td>{{a.dateDeRendu}}</td>
        <td>NON RENDU !!!!!!</td>
        }
    </tr>
    }
</table>

<h3>Avec directives custom rendu et nonRendu</h3>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Date de rendu</th>
            <th>Rendu</th>
        </tr>
    </thead>
    @for(a of assignments; track a.nom) {
    <tr>
        @if(a.rendu) {
        <td appRendu>{{a.nom}}</td>
        <td>{{a.dateDeRendu}}</td>
        <td>{{a.rendu}}</td>
        } @else {
        <td appNonRendu>*** {{a.nom}} ***</td>
        <td>{{a.dateDeRendu}}</td>
        <td>NON RENDU !!!!!!</td>
        }
    </tr>
    }
</table>

<h2>Avec Angular &lt; 17</h2>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Date de rendu</th>
            <th>Rendu</th>
        </tr>
    </thead>
    <tr *ngFor="let a of assignments">
        <td>{{a.nom}}</td>
        <td>{{a.dateDeRendu}}</td>
        <td>
            {{a.rendu}}</td>
    </tr>
</table>

<h3>Exemple de if else</h3>
<div *ngFor="let assignment of assignments" [ngStyle]="{'color':getColor(assignment)}">
    <p *ngIf="assignment.rendu; else nonsoumis">
        Devoir intitulé {{assignment.nom}}, rendu le
        {{assignment.dateDeRendu}}.
    </p>
    <ng-template #nonsoumis>
        Le devoir {{assignment.nom}} n'a pas été rendu.
    </ng-template>
</div>
-->