table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 20px;
}

.rendu {
    background-color: lightgreen;
}

.nonRendu {
    background-color: lightcoral;
    border: 2px dashed purple;
    font-weight: bold;
    font-style: italic;
    color:yellow;
}

.container {
    display: flex;
    flex-direction: column;
}

.ajouterBtn {
    align-self: flex-end;
}

#divPagination {
    width:700px;
    display: flex;
    flex-direction: row;
    /* espace entre les fils constant */
    justify-content: space-between;    
}

.demo-table {
    width: 100%;
}
  
  .mat-column-nom {
    border-right: 1px solid currentColor;
    padding-right: 24px;
    padding-left: 24px;
    text-align: left;
    font-size: 20px;

  }
  
  .mat-column-dateDeRendu {
    width: 132px;
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-rendu {
    font-style: italic;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 60px;
  }
  
  .demo-paginator {
    width: 600px;
    margin-left:-40px;
  }