<form ngForm (submit)="onSubmit(); formAssignments.reset()" class="form" #formAssignments>
    <mat-form-field>
        <mat-label>Nom du devoir</mat-label>
        <input matInput placeholder="Nom du devoir" [(ngModel)]="nomDevoir" name="nom">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Date de rendu</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
    <button mat-raised-button color="primary" 
    >
        AddAssignment
    </button>
</form>